<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <span class="pad-left-right col-xs-12 title"><h1>To-Dos</h1></span>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="input-group col-xs-7">
        <!-- Add the search box input text field here-->
        <input class="form-control" name="searchBox" placeholder="Enter a search value"
          (keyup)="search(searchBox.value)" #searchBox>
          <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
      </div>
    <div class="pull-right col-xs-3">
      <a class="btn zoom" style="font-family:courier; background-color: rgb(224, 170, 255);" [routerLink]="['new']">New To-Do</a>
    </div>
    </div>
  </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <bujo-todo-item *ngFor="let todo of todo|todoFilter:term" [todo]="todo" dnd-draggable
          [dragEnabled]="true" [dragData]="todo" [dropZones]="['todoGroup']">
          </bujo-todo-item>
        </div>
      </div>
    </div>
  </div>
