.habitHeader {
    background-color: azure;
    border: solid thin black;
    border-radius: 10px;
    padding: 0.4rem;
    font-size: 1.5rem;
 }
 .habitText {
 border-radius: 10px;
 padding: 5px;
 margin-top: .25rem;
 margin-left: 1rem;
 font-size: 1.5rem;
 }

 .zoom {
  transition: transform .2s; /* Animation */
  margin-left: 10px;
  font-family:'Courier New', Courier, monospace;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h4{
  font-family:'Courier New', Courier, monospace;
}
h2{
  font-family:'Courier New', Courier, monospace;
}
