.calendarDiv {
    width: 9rem;
    height: 9rem;
    margin: 6px;
    font-size: 1.3rem;
    border: solid thin rgb(255, 255, 255);
    float: left;
    padding: .25rem
  }

  .zoom {
    transition: transform .2s; /* Animation */
    font-family:'Courier New', Courier, monospace;
  }

  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  h4{
    font-family:'Courier New', Courier, monospace;
  }
  h2{
    font-family:'Courier New', Courier, monospace;
  }
  h1{
    font-family:'Courier New', Courier, monospace;
  }
